.container {
    height: 500px;
    width: 600px;
    border: 1px solid teal;
}

.splitter {
  height: 5px;
  width: 100%;
  background-color: black;
  cursor: row-resize;
}

.top {
  border: 1px solid yellow;
}

.bottom { 
  border: 1px solid royalblue;
}